.clock {
    color: #81d830;
    font-size: 55px;
    height: 84px;
    background-color: black;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &::before {
        content: "88:88.88";
        opacity: 0.2;
        position: absolute;
        left: 25%;
    }
    .isRuning{
        animation: blink-animation 1s ease-in-out infinite;
    -webkit-animation: blink-animation 1s ease-in-out infinite;
    }
}

 
    
  
  @keyframes blink-animation {
    0% { color:rgba(129, 216, 48, 1)}
    50% {color:rgba(129, 216, 48, 0)}
    100% { color:rgba(129, 216, 48, 1)}
  }

  @-webkit-keyframes blink-animation {
    0% { color:rgba(129, 216, 48, 1)}
    50% {color:rgba(129, 216, 48, 0)}
    100% { color:rgba(129, 216, 48, 1)}
  }