.lap {
    color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 1px solid #9b9b9b;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    padding: 10px 0px;
    position: relative;

    &::before {
        content: "88:88.88";
        opacity: 0.1;
        position: absolute;
    }

    &:last-of-type {
        border-bottom: none;
    }
    &:hover button {
        display: block;
    }
    button {
        display: none;
        float: right;
        height: 100%;
        background-color: #f50400;
        font-style: to-upper-case($string: "");
        outline: none;
        border: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
}
